*{
    box-sizing: border-box;
}
body{  
    height: 690px;
}
.main-content{
    height: 85%;
}

.main-content .logo{
    font-family: "Inconsolata";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    margin-top: 20px; 
}
.main-content-row{
    position: relative;
    top: 70px;
    height: 545px;
}
.scarecrow{
    position: relative;
}
.scarecrow img{
    height: 414.2492370605469px;
    width: 539.2236938476562px;
    border-radius: 0px;  
}
.side-text{
    position: relative;
    top: 25px;
    padding-left: 20px;
}

.side-text.h1-container{
    height: 190px;
    width: 100%;
}
.h1-container h1{
    font-family: Space "Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;    
}

.subtext p {
    color: #4F4F4F;
    text-align: justify;
    font-family: Space "Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    margin-bottom: 25px;
}
.side-text button{
    width: 175px;
    height: 50px;
    background: #333333;
    color: white;
    font-family: Space "Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; 
    letter-spacing: -0.035em;
    margin-top: 20px;
    border: none;
}

footer{
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
 .side-text{
     left:100px;
 }
 .main-content-row{
     height: 620px;
 }
}
 
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
 .scarecrow{
     right: 93px;
 }
 .main-content-row{
     height: 620px;
 }
}
 
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .scarecrow{
        left: -16px;
    }
    .side-text{
        left: -10px;
    }
    .main-content-row{
        height: 1060px;
    }
}
 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 508px) {
    .main-content-row{
        height: 1200px;
    }
}
 
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}